## Config .env
DB_USER=user_securite_routiere
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5432
DB_NAME=securite_routiere_db

Une fois que le fichier .env est bien configur√© on peut lancer √ßa et commencer √† travailler

In [1]:
import sys
sys.path.append("..")  # remonte d'un niveau vers le dossier parent
from utils.utils import connect_to_db, insert_data_to_db, mapping_colonnes, fetch_data_from_db
engine = connect_to_db()
df = fetch_data_from_db(table_name='accidents_cleaned', engine=engine, schema='silver')
df

‚úÖ Connexion √† la base PostgreSQL r√©ussie !
OK: "silver"."accidents_cleaned"

,num_acc,datetime,nom_com,an,mois,jour,hrmn,lum,agg,int,...,year_georef,com_name,dep_code,dep_name,epci_code,epci_name,reg_code,reg_name,com_arm_name,code_com
0,201600055393,2016-03-14 08:20:00+00:00,Paris-17e-arrondissement,2016,3,14,09:20,Plein jour,En agglom√©ration,2,...,2016,Paris,75,Paris,200054781,M√©tropole du Grand Paris,11,√éle-de-France,Paris 17e Arrondissement,75117
1,201600056285,2016-08-03 05:40:00+00:00,Paris-19e-arrondissement,2016,8,3,07:40,Plein jour,En agglom√©ration,2,...,2016,Paris,75,Paris,200054781,M√©tropole du Grand Paris,11,√éle-de-France,Paris 19e Arrondissement,75119
2,201600056621,2016-09-22 10:25:00+00:00,Paris-20e-arrondissement,2016,9,22,12:25,Plein jour,En agglom√©ration,1,...,2016,Paris,75,Paris,200054781,M√©tropole du Grand Paris,11,√éle-de-France,Paris 20e Arrondissement,75120
3,201600057859,2016-09-14 15:15:00+00:00,La Plaine-des-palmistes,2016,9,14,17:15,Plein jour,Hors agglom√©ration,1,...,2016,La Plaine-des-Palmistes,974,La R√©union,249740093,CA Intercommunale de la R√©union Est (Cirest),04,La R√©union,La Plaine-des-Palmistes,97406
4,201400013574,2014-01-27 17:45:00+00:00,Aubagne,2014,1,27,18:45,Nuit avec √©clairage public allum√©,En agglom√©ration,3,...,2015,Aubagne,13,Bouches-du-Rh√¥ne,241300268,CA du Pays d'Aubagne et de l'Etoile (Capae),93,Provence-Alpes-C√¥te d'Azur,Aubagne,13005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475906,201600049674,2016-01-28 03:40:00+00:00,Canejan,2016,1,28,04:40,Nuit sans √©clairage public,Hors agglom√©ration,1,...,2016,Can√©jan,33,Gironde,243301165,CC Jalle-Eau-Bourde,75,Aquitaine-Limousin-Poitou-Charentes,Can√©jan,33090
475907,201600049793,2016-07-13 08:25:00+00:00,Gradignan,2016,7,13,10:25,Plein jour,Hors agglom√©ration,1,...,2016,Gradignan,33,Gironde,243300316,Bordeaux M√©tropole,75,Aquitaine-Limousin-Poitou-Charentes,Gradignan,33192
475908,201600050415,2016-09-08 05:45:00+00:00,Toulon,2016,9,8,07:45,Plein jour,Hors agglom√©ration,1,...,2016,Toulon,83,Var,248300543,CA Toulon Provence M√©diterran√©e,93,Provence-Alpes-C√¥te d'Azur,Toulon,83137
475909,201600027375,2016-02-06 23:05:00+00:00,Villeneuve-sur-lot,2016,2,7,00:05,Nuit sans √©clairage public,Hors agglom√©ration,3,...,2016,Villeneuve-sur-Lot,47,Lot-et-Garonne,200023307,CA du Grand Villeneuvois,75,Aquitaine-Limousin-Poitou-Charentes,Villeneuve-sur-Lot,47323
475910,201600039148,2016-07-13 07:30:00+00:00,Rueil-malmaison,2016,7,13,09:30,Plein jour,En agglom√©ration,1,...,2016,Rueil-Malmaison,92,Hauts-de-Seine,200054781,M√©tropole du Grand Paris,11,√éle-de-France,Rueil-Malmaison,92063

In [9]:
df['lat'].head()

0    4887440.0
1    4887840.0
2    4886710.0
3          NaN
4    4327987.0
Name: lat, dtype: float64

In [10]:
import pandas as pd

df_silver = df.copy()  # Supposons que df_silver est le DataFrame nettoy√© apr√®s vos √©tapes de nettoyage.

# =====================================================================
# BLOC DE DIAGNOSTIC COMPLET SUR LE DATAFRAME SILVER (df_silver)
# Objectif : Valider le nettoyage et pr√©parer la couche Gold.
# =====================================================================

# Pr√©requis : Le DataFrame 'df_silver' doit exister.
if 'df_silver' in locals() and df_silver is not None:
    print("=======================================================================")
    print("        Diagnostic Complet des Donn√©es Nettoy√©es (df_silver)         ")
    print("=======================================================================")

    # --- 1. Analyse de la compl√©tion (Taux de remplissage) ---
    print("\n--- 1. Taux de Remplissage par Colonne (de la pire √† la meilleure) ---")
    
    total_lignes = len(df_silver)
    comptage_non_na = df_silver.count()
    taux_remplissage = (comptage_non_na / total_lignes) * 100
    
    stats_remplissage = pd.DataFrame({'Taux_Remplissage': taux_remplissage})
    stats_remplissage['Taux_Remplissage'] = stats_remplissage['Taux_Remplissage'].map('{:.2f} %'.format)
    print(stats_remplissage.sort_values(by='Taux_Remplissage').to_string())
    
    seuil_suppression = 10.0
    colonnes_a_supprimer = taux_remplissage[taux_remplissage < seuil_suppression].index.tolist()
    if colonnes_a_supprimer:
        print(f"\nüí° Suggestion : Les colonnes suivantes sont remplies √† moins de {seuil_suppression}% et pourraient √™tre supprim√©es avant la couche Gold :")
        print(colonnes_a_supprimer)


    # --- 2. Analyse de la Cardinalit√© (Nombre de valeurs uniques) ---
    print("\n\n--- 2. Cardinalit√© (Nombre de Valeurs Uniques) par Colonne ---")
    
    cardinalite = df_silver.nunique()
    stats_cardinalite = pd.DataFrame({'Nombre_Valeurs_Uniques': cardinalite})
    print(stats_cardinalite.sort_values(by='Nombre_Valeurs_Uniques', ascending=False).to_string())

    colonnes_inutiles = cardinalite[cardinalite == 1].index.tolist()
    if colonnes_inutiles:
        print("\nüí° Suggestion : Les colonnes suivantes n'ont qu'une seule valeur et sont probablement inutiles :")
        print(colonnes_inutiles)


    # --- 3. Description Statistique des Colonnes Num√©riques ---
    print("\n\n--- 3. Description Statistique des Colonnes Num√©riques ---")
    
    # On s√©lectionne les colonnes num√©riques apr√®s votre nettoyage
    df_numerique = df_silver.select_dtypes(include=['int64', 'float64', 'Int64', 'Float64'])
    if not df_numerique.empty:
        # .describe() calcule les stats, .round(2) arrondit √† 2 d√©cimales.
        print(df_numerique.describe().round(2).to_string())
    else:
        print("Aucune colonne num√©rique trouv√©e pour l'analyse.")
            
    print("\n=======================================================================")

else:
    print("‚ùå Erreur : Le DataFrame 'df_silver' n'a pas √©t√© trouv√©. Veuillez d'abord l'importer et le nettoyer.")

=======================================================================
        Diagnostic Complet des Donn√©es Nettoy√©es (df_silver)
=======================================================================

--- 1. Taux de Remplissage par Colonne (de la pire √† la meilleure) ---
             Taux_Remplissage
occutc                 1.26 %
v1                    10.56 %
num_veh              100.00 %
grav                 100.00 %
sexe                 100.00 %
catr                 100.00 %
catv                 100.00 %
year_georef          100.00 %
com                  100.00 %
dep                  100.00 %
col                  100.00 %
num_acc              100.00 %
int                  100.00 %
datetime             100.00 %
an                   100.00 %
mois                 100.00 %
jour                 100.00 %
hrmn                 100.00 %
catu                 100.00 %
agg                  100.00 %
lum                  100.00 %
infra                 11.45 %
an_nais               18.95 %
obs                   21.30 %
locp                  21.40 %
etatp                 27.89 %
v2                     4.10 %
date                   4.66 %
senc                  44.06 %
num                   50.33 %
lat                   50.84 %
long                  50.84 %
pr1                   52.56 %
pr                    52.90 %
vosp                   6.74 %
gps                   60.33 %
lartpc                76.23 %
larrout               76.57 %
obsm                  77.59 %
trajet                84.54 %
voie                  86.30 %
env1                  86.57 %
secu                  86.94 %
secu_utl              86.94 %
epci_code             89.55 %
epci_name             89.55 %
adr                   89.65 %
manv                  92.77 %
plan                  92.77 %
coordonnees           93.04 %
choc                  93.80 %
prof                  93.93 %
code_postal           93.98 %
com_arm_name          94.10 %
nom_com               94.39 %
situ                  94.46 %
circ                  94.66 %
actp                  95.41 %
surf                  96.61 %
com_name              97.63 %
dep_code              97.63 %
dep_name              97.63 %
reg_code              97.63 %
reg_name              97.63 %
place                 98.68 %
nbv                   99.62 %
insee                 99.87 %
code_com              99.87 %
atm                   99.99 %

üí° Suggestion : Les colonnes suivantes sont remplies √† moins de 10.0% et pourraient √™tre supprim√©es avant la couche Gold :
['vosp', 'v2', 'occutc', 'date']


--- 2. Cardinalit√© (Nombre de Valeurs Uniques) par Colonne ---
              Nombre_Valeurs_Uniques
num_acc                       475911
datetime                      331118
adr                           233325
coordonnees                   200178
long                          179675
lat                           158094
insee                          27618
code_com                       27618
com_arm_name                   25209
com_name                       25167
nom_com                        24897
voie                           14695
com                            12335
place                           8512
code_postal                     5917
manv                            3854
choc                            3157
trajet                          3103
catv                            3032
epci_name                       2968
num                             2947
epci_code                       2551
grav                            2116
pr1                             1948
catu                            1910
sexe                            1466
hrmn                            1440
num_veh                         1368
secu                            1341
secu_utl                        1157
actp                             910
pr                               672
larrout                          494
obs                              381
lartpc                           352
locp                             264
etatp                            231
obsm                             204
senc                             161
occutc                           116
dep                              108
an_nais                          108
dep_name                          99
dep_code                          99
date                              96
v2                                65
reg_name                          38
reg_code                          33
jour                              31
nbv                               15
mois                              12
atm                               10
infra                             10
surf                              10
int                               10
an                                 8
col                                8
catr                               8
situ                               8
lum                                5
prof                               5
circ                               5
plan                               5
year_georef                        5
gps                                5
vosp                               4
env1                               3
v1                                 3
agg                                2


--- 3. Description Statistique des Colonnes Num√©riques ---
              an       mois       jour         lat        long         pr        v1        pr1   an_nais
count  475911.00  475911.00  475911.00   241945.00   241945.00  251763.00  50267.00  250140.00  90198.00
mean     2015.48       6.69      15.63  4631107.05   336497.66      25.23      0.10     299.03   1977.91
std         2.30       3.39       8.73   481571.84   721870.52      95.43      0.46     355.28     17.26
min      2012.00       1.00       1.00   364247.00  -508705.00       0.00      0.00       0.00   1900.00
25%      2013.00       4.00       8.00  4454559.00    80061.00       0.00      0.00       0.00   1967.00
50%      2015.00       7.00      16.00  4750578.00   239559.00       6.00      0.00     199.00   1982.00
75%      2017.00      10.00      23.00  4883800.00   484848.00      24.00      0.00     524.00   1992.00
max      2019.00      12.00      31.00  5564823.00  6545675.00    9929.00      3.00    9540.00   2019.00

=======================================================================

In [24]:
df['coordonnees'].head()

0      48.887702, 2.304844
1       48.87834, 2.374525
2      48.867131, 2.397971
3    -21.152906, 55.642371
4       43.27476, 5.565483
Name: coordonnees, dtype: object

In [11]:
import pandas as pd 

# =====================================================================
# DIAGNOSTIC ET AM√âLIORATION DES COORDONN√âES GPS DANS df_silver
# =====================================================================

# Pr√©requis : Le DataFrame 'df_silver' doit exister en m√©moire.
if 'df_silver' not in locals() or df_silver is None:
    print("‚ùå Erreur : Le DataFrame 'df_silver' n'a pas √©t√© trouv√© en m√©moire.")
else:
    print("DataFrame 'df_silver' trouv√©. D√©but du processus d'am√©lioration des coordonn√©es GPS...")

    # --- √âTAPE 1 : Diagnostic Avant Am√©lioration ---
    # ... (cette partie ne change pas)
    total_lignes = len(df_silver)
    nan_avant_lat = df_silver['lat'].isna().sum()
    pourcentage_avant_lat = (nan_avant_lat / total_lignes) * 100
    print(f"\nAvant am√©lioration (lat) : {nan_avant_lat:,} valeurs manquantes ({pourcentage_avant_lat:.2f} %).")
    nan_avant_long = df_silver['long'].isna().sum()
    pourcentage_avant_long = (nan_avant_long / total_lignes) * 100
    print(f"Avant am√©lioration (long): {nan_avant_long:,} valeurs manquantes ({pourcentage_avant_long:.2f} %).")

    # --- √âTAPE 2 : Remplissage des Coordonn√©es Manquantes (Logique Corrig√©e) ---
    # LA CORRECTION EST ICI : On v√©rifie si 'lat' OU '|' 'long' est vide.
    # Les parenth√®ses sont importantes pour l'ordre des op√©rations.
    condition_remplissage = (df_silver['lat'].isna() | df_silver['long'].isna()) & df_silver['coordonnees'].notna()
    
    nb_lignes_a_remplir = condition_remplissage.sum()
    print(f"\nTrouv√© {nb_lignes_a_remplir:,} lignes o√π au moins une coordonn√©e (lat/long) peut √™tre r√©cup√©r√©e.")

    if nb_lignes_a_remplir > 0:
        coords_split = df_silver.loc[condition_remplissage, 'coordonnees'].str.split(',', expand=True)
        
        if coords_split.shape[1] >= 2:
            # On remplit 'lat' UNIQUEMENT si elle est vide
            df_silver.loc[condition_remplissage & df_silver['lat'].isna(), 'lat'] = coords_split[0]
            # On remplit 'long' UNIQUEMENT si elle est vide
            df_silver.loc[condition_remplissage & df_silver['long'].isna(), 'long'] = coords_split[1]
    
            # --- √âTAPE 3 : Reconversion des Types ---
            df_silver['lat'] = pd.to_numeric(df_silver['lat'], errors='coerce')
            df_silver['long'] = pd.to_numeric(df_silver['long'], errors='coerce')

            # --- √âTAPE 4 : Diagnostic Apr√®s Am√©lioration ---
            # ... (cette partie ne change pas)
            nan_apres_lat = df_silver['lat'].isna().sum()
            pourcentage_apres_lat = (nan_apres_lat / total_lignes) * 100
            print(f"\nApr√®s am√©lioration (lat) : {nan_apres_lat:,} valeurs manquantes ({pourcentage_apres_lat:.2f} %).")
            nan_apres_long = df_silver['long'].isna().sum()
            pourcentage_apres_long = (nan_apres_long / total_lignes) * 100
            print(f"Apr√®s am√©lioration (long): {nan_apres_long:,} valeurs manquantes ({pourcentage_apres_long:.2f} %).")
            
            print("\n‚úÖ Succ√®s ! Le DataFrame 'df_silver' en m√©moire a √©t√© mis √† jour.")
        else:
            print("‚ö†Ô∏è Attention : La d√©coupe de la colonne 'coordonnees' n'a pas produit 2 colonnes. Le remplissage est annul√©.")
    else:
        print("\n-> Aucune coordonn√©e suppl√©mentaire √† remplir.")

DataFrame 'df_silver' trouv√©. D√©but du processus d'am√©lioration des coordonn√©es GPS...

Avant am√©lioration (lat) : 233,966 valeurs manquantes (49.16 %).
Avant am√©lioration (long): 233,966 valeurs manquantes (49.16 %).

Trouv√© 218,808 lignes o√π au moins une coordonn√©e (lat/long) peut √™tre r√©cup√©r√©e.

/var/folders/4_/cb0dgr6d07d_36m06pf2rqjr0000gn/T/ipykernel_98449/2035906928.py:36: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['-21.152906' '43.331442' '16.257101' ... '45.740286' '43.124011'
 '48.888312']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_silver.loc[condition_remplissage & df_silver['lat'].isna(), 'lat'] = coords_split[0]
/var/folders/4_/cb0dgr6d07d_36m06pf2rqjr0000gn/T/ipykernel_98449/2035906928.py:38: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[' 55.642371' ' 5.398574' ' -61.598425' ... ' 4.888678' ' 5.930466'
 ' 2.164508']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_silver.loc[condition_remplissage & df_silver['long'].isna(), 'long'] = coords_split[1]

Apr√®s am√©lioration (lat) : 15,206 valeurs manquantes (3.20 %).
Apr√®s am√©lioration (long): 15,202 valeurs manquantes (3.19 %).

‚úÖ Succ√®s ! Le DataFrame 'df_silver' en m√©moire a √©t√© mis √† jour.

In [12]:
df_silver[['lat','long']].head()

            lat           long
0  4.887440e+06  229293.000000
1  4.887840e+06  237423.000000
2  4.886710e+06  239801.000000
3 -2.115291e+01      55.642371
4  4.327987e+06  556520.000000

In [ ]:
df_silver = df.copy()
# =====================================================================
# BLOC COMPLET DE NETTOYAGE DES COORDONN√âES DANS df_silver
# =====================================================================
import pandas as pd
import geopandas
import numpy as np

# Pr√©requis : Le DataFrame 'df_silver' doit exister (apr√®s renommage).
if 'df_silver' not in locals() or df_silver is None:
    print("‚ùå Erreur : Le DataFrame 'df_silver' n'a pas √©t√© trouv√© en m√©moire.")
else:
    print("DataFrame 'df_silver' trouv√©. D√©but du processus complet de nettoyage des coordonn√©es.")

    # --- √âTAPE 1 : VOTRE SCRIPT DE REMPLISSAGE DES NAN ---
    print("\n--- √âtape 1: Remplissage des NaN √† partir de 'coordonnees' ---")
    condition_remplissage = (df_silver['lat'].isna() | df_silver['long'].isna()) & df_silver['coordonnees'].notna()
    if condition_remplissage.sum() > 0:
        coords_split = df_silver.loc[condition_remplissage, 'coordonnees'].str.split(',', expand=True)
        if coords_split.shape[1] >= 2:
            df_silver.loc[condition_remplissage, 'lat'] = coords_split[0]
            df_silver.loc[condition_remplissage, 'long'] = coords_split[1]
    
    # On s'assure que tout est num√©rique pour la suite
    df_silver['lat'] = pd.to_numeric(df_silver['lat'], errors='coerce')
    df_silver['long'] = pd.to_numeric(df_silver['long'], errors='coerce')
    print("-> Remplissage des NaN termin√©. Les colonnes contiennent maintenant un m√©lange de formats.")

    # --- √âTAPE 2 : STANDARDISATION DES COORDONN√âES AU FORMAT WGS 84 ---
    print("\n--- √âtape 2: Standardisation de toutes les coordonn√©es au format WGS 84 (GPS) ---")
    # On identifie les lignes qui sont au format Lambert (valeur absolue de latitude > 90)
    condition_lambert = df_silver['lat'].notna() & (df_silver['lat'].abs() > 90)
    
    print(f"-> Trouv√© {condition_lambert.sum():,} lignes au format Lambert √† convertir.")

    if condition_lambert.sum() > 0:
        # On cr√©e un GeoDataFrame uniquement avec les lignes √† convertir
        gdf_lambert = geopandas.GeoDataFrame(
            df_silver[condition_lambert], 
            geometry=geopandas.points_from_xy(df_silver[condition_lambert].long, df_silver[condition_lambert].lat),
            crs="EPSG:2154"  # On d√©clare que le syst√®me d'origine est Lambert-93
        )
        # On effectue la conversion vers WGS 84
        gdf_wgs_84_converted = gdf_lambert.to_crs("EPSG:4326")
        
        # ON √âCRASE les anciennes valeurs Lambert par les nouvelles valeurs WGS 84
        df_silver.loc[condition_lambert, 'lat'] = gdf_wgs_84_converted.geometry.y
        df_silver.loc[condition_lambert, 'long'] = gdf_wgs_84_converted.geometry.x
        print("-> Conversion termin√©e.")

    # --- √âTAPE 3 : VALIDATION FINALE ---
    print("\n--- √âtape 3: Validation des r√©sultats ---")
    print("Statistiques des colonnes 'lat' et 'long' apr√®s standardisation :")
    print(df_silver[['lat', 'long']].describe().round(6))
    
    print("\n‚úÖ Succ√®s ! 'df_silver' contient maintenant des coordonn√©es 'lat' et 'long' standardis√©es.")

In [3]:
df_silver[['lat','long']].head()

         lat       long
0  31.106874  -1.778833
1  31.114616  -1.696731
2  31.105999  -1.671965
3 -21.152906  55.642371
4  26.386748   1.639658

In [37]:
col_commune = [
        'com',
        'code_com',
        'nom_com',
        'com_name',
        'com_arm_name',
        'adr',       
        'lat',
        'long',       
        'code_postal',
        'coordonnees',
        'num'
    ]

    # --- √âTAPE 2 : Cr√©er le nouveau DataFrame ---
df_commune = df[col_commune].copy()

In [38]:
df_commune.head()

,com,code_com,nom_com,com_name,com_arm_name,adr,lat,long,code_postal,coordonnees,num
0,117,75117,Paris-17e-arrondissement,Paris,Paris 17e Arrondissement,"2, AVENUE DE LA GRANDE A",4887440.0,229293.0,75017,"48.887702, 2.304844",2
1,119,75119,Paris-19e-arrondissement,Paris,Paris 19e Arrondissement,"30-32, AVENUE MATHURIN M",4887840.0,237423.0,75019,"48.87834, 2.374525",30
2,120,75120,Paris-20e-arrondissement,Paris,Paris 20e Arrondissement,"55, RUE ORFILA",4886710.0,239801.0,75020,"48.867131, 2.397971",55
3,406,97406,La Plaine-des-palmistes,La Plaine-des-Palmistes,La Plaine-des-Palmistes,None,NaN,NaN,97431,"-21.152906, 55.642371",None
4,005,13005,Aubagne,Aubagne,Aubagne,FENESTRELLES (CHEMIN DE),4327987.0,556520.0,13400,"43.27476, 5.565483",None

In [44]:
# =======================================================
# CR√âATION DU DATAFRAME df_commune
# =======================================================

# Pr√©requis : Le DataFrame 'df_silver' doit exister.
if 'df_silver' not in locals() or df_silver is None:
    print("‚ùå Erreur : Le DataFrame 'df_silver' n'a pas √©t√© trouv√©.")
else:
    print("DataFrame 'df_silver' trouv√©. Cr√©ation du DataFrame 'df_commune'...")

    # --- √âTAPE 1 : D√©finir la liste des colonnes pour la commune ---
    # On prend toutes les colonnes qui d√©crivent une commune de mani√®re unique.
    col_commune = [
        'com',
        'code_com',
        'nom_com',
        'com_name',
        'com_arm_name',
        'adr',       
        'lat',
        'long',       
        'code_postal',
        'coordonnees',
        'num'
    ]

    # --- √âTAPE 2 : Cr√©er le nouveau DataFrame ---
    df_commune = df_silver[col_commune].copy()

    # --- √âTAPE 3 : D√©doublonner et nettoyer ---
    # La cl√© primaire de la table commune est le code commune.
    # On ne garde donc qu'une seule ligne par code commune.
    df_commune.dropna(subset=['com'], inplace=True)
    df_commune.drop_duplicates(subset=['com'], inplace=True)
    
    # --- √âTAPE 4 : Renommer la colonne cl√© pour correspondre au SQL ---
    df_commune.rename(columns={'code_com': 'com_code'}, inplace=True)

    # --- √âTAPE 5 : Afficher le r√©sultat ---
    print("\n‚úÖ DataFrame 'df_commune' cr√©√© avec succ√®s !")
    print(f"Nombre de lignes (communes uniques) : {len(df_commune):,}")
    print("\nAper√ßu des 5 premi√®res lignes de df_commune :")

DataFrame 'df_silver' trouv√©. Cr√©ation du DataFrame 'df_commune'...

‚úÖ DataFrame 'df_commune' cr√©√© avec succ√®s !
Nombre de lignes (communes uniques) : 12,335

Aper√ßu des 5 premi√®res lignes de df_commune :

In [46]:
df_commune.head()

,com,com_code,nom_com,com_name,com_arm_name,adr,lat,long,code_postal,coordonnees,num
0,117,75117,Paris-17e-arrondissement,Paris,Paris 17e Arrondissement,"2, AVENUE DE LA GRANDE A",4.887440e+06,229293.000000,75017,"48.887702, 2.304844",2
1,119,75119,Paris-19e-arrondissement,Paris,Paris 19e Arrondissement,"30-32, AVENUE MATHURIN M",4.887840e+06,237423.000000,75019,"48.87834, 2.374525",30
2,120,75120,Paris-20e-arrondissement,Paris,Paris 20e Arrondissement,"55, RUE ORFILA",4.886710e+06,239801.000000,75020,"48.867131, 2.397971",55
3,406,97406,La Plaine-des-palmistes,La Plaine-des-Palmistes,La Plaine-des-Palmistes,None,-2.115291e+01,55.642371,97431,"-21.152906, 55.642371",None
4,005,13005,Aubagne,Aubagne,Aubagne,FENESTRELLES (CHEMIN DE),4.327987e+06,556520.000000,13400,"43.27476, 5.565483",None

In [47]:
# =======================================================
# CR√âATION DU DATAFRAME df_vehicule
# =======================================================

# Pr√©requis : Le DataFrame 'df_silver' doit exister.    
if 'df_silver' not in locals() or df_silver is None:
    print("‚ùå Erreur : Le DataFrame 'df' n'a pas √©t√© trouv√©.")
else:
    print("\nDataFrame 'df_silver' trouv√©. Cr√©ation du DataFrame 'df_vehicule'...")    

    # --- √âTAPE 1 : D√©finir la liste des colonnes pour le v√©hicule ---
    col_vehicule = [
        'num_veh',
        'place',
        'choc',
        'manv',
        'catv',
        'secu'
    ]

    # --- √âTAPE 2 : Cr√©er le nouveau DataFrame ---
    df_vehicule = df_silver[col_vehicule].copy()

DataFrame 'df_silver' trouv√©. Cr√©ation du DataFrame 'df_vehicule'...

In [12]:
df_vehicule.head()

,num_veh,place,choc,manv,catv,secu
0,"A01,B01","1,1","Avant,Arri√®re","Sans changement de direction,Arr√™t√© (hors stat...","VL seul,Scooter > 50 cm3 et <= 125 cm3","Casque,Ceinture"
1,A01,1,Avant gauche,Tournant A gauche,VL seul,Ceinture
2,"B01,A01","1,1","Avant,Avant gauche","Sans changement de direction,En s‚Äôins√©rant","Motocyclette > 125 cm3,VL seul","Casque,Ceinture"
3,"B02,A01","3,3,1,2,1","Avant,Avant","Sans changement de direction,Sans changement d...","VL seul,VU seul 1","Dispositif enfants,Ceinture,Ceinture,Ceinture,..."
4,"A01,B01","1,1,2","Avant,Avant droit","Sans changement de direction,Sans changement d...","Scooter < 50 cm3,VL seul","Ceinture,Casque,Casque"

In [48]:
# =====================================================================
# BLOC FINAL POUR LA CR√âATION DE df_vehicule AVEC CL√â COMPOSITE Id_veh
# =====================================================================

# Pr√©requis : Le DataFrame 'df_silver' doit exister.
if 'df_silver' not in locals() or df_silver is None:
    print("‚ùå Erreur : Le DataFrame 'df_silver' n'a pas √©t√© trouv√©.")
else:
    print("DataFrame 'df_silver' trouv√©. Pr√©paration de 'df_vehicule'...")

    # --- √âTAPE 1 : Nettoyage Profond de df ---
    # (Cette partie ne change pas)
    colonnes_a_nettoyer = ['num_veh', 'place', 'choc', 'manv', 'catv', 'secu']
    print("\nNettoyage profond des colonnes contenant des listes...")
    for colonne in colonnes_a_nettoyer:
        df_silver[colonne] = df_silver[colonne].astype(str).str.split(',').str[0].str.strip()
        print(f"-> Colonne '{colonne}' nettoy√©e.")

    # --- √âTAPE 2 : S√©lection des Colonnes ---
    # On s√©lectionne les colonnes de base n√©cessaires pour cr√©er la cl√© et d√©crire le v√©hicule.
    col_vehicule = [
        'num_acc',
        'num_veh',
        'place',
        'choc',
        'manv',
        'catv',
        'secu'
    ]
    print("\nCr√©ation du DataFrame 'df_vehicule' √† partir des donn√©es nettoy√©es...")
    df_vehicule = df_silver[col_vehicule].copy()
    
    # --- √âTAPE 3 : Cr√©ation de la Cl√© Primaire Composite 'Id_veh' ---
    print("\nCr√©ation de la cl√© primaire composite 'id_veh'...")
    
    # On s'assure que les deux colonnes sont bien des cha√Ænes de caract√®res avant de les concat√©ner.
    df_vehicule['num_acc'] = df_vehicule['num_acc'].astype(str)
    df_vehicule['num_veh'] = df_vehicule['num_veh'].astype(str)
    
    # On combine 'num_acc' et 'num_veh' pour cr√©er la cl√© unique.
    # Exemple : num_acc='201900000001' et num_veh='A01' -> Id_veh='201900000001_A01'
    df_vehicule['id_veh'] = df_vehicule['num_acc'] + '_' + df_vehicule['num_veh']
    print("-> Cl√© 'id_veh' cr√©√©e avec succ√®s.")

    # --- √âTAPE 4 : Application des Contraintes d'Unicit√© ---
    print("\nApplication des contraintes (nettoyage et d√©doublonnage)...")
    
    # On supprime les lignes o√π les composants de la cl√© sont invalides.
    # C'est important de le faire avant de d√©doublonner.
    df_vehicule.dropna(subset=['num_acc', 'num_veh'], inplace=True)
    
    # On d√©doublonne maintenant sur notre nouvelle cl√© unique 'Id_veh'.
    # Cela a le m√™me effet que de d√©doublonner sur la paire, mais c'est plus explicite.
    df_vehicule.drop_duplicates(subset=['id_veh'], inplace=True)
    
    # --- √âTAPE 5 : Finalisation du DataFrame ---
    # On peut r√©organiser les colonnes pour mettre la cl√© en premier, c'est plus propre.
    colonnes_finales = [
        'id_veh',         # On rajoute 'num_acc' pour la cl√© √©trang√®re
        'num_acc',        # On garde les composants originaux pour la tra√ßabilit√©
        'num_veh', 
        'place', 
        'choc', 
        'manv', 
        'catv', 
        'secu'
    ]
    df_vehicule = df_vehicule[colonnes_finales]
    
    # --- √âTAPE 6 : Validation Finale ---
    print("\n‚úÖ DataFrame 'df_vehicule' final cr√©√© avec succ√®s !")
    print(f"Nombre de lignes finales (v√©hicules uniques) : {len(df_vehicule):,}")
    
    print("\nAper√ßu du DataFrame 'df_vehicule' final avec la nouvelle cl√© 'id_veh':")
    print(df_vehicule.head())

DataFrame 'df_silver' trouv√©. Pr√©paration de 'df_vehicule'...

Nettoyage profond des colonnes contenant des listes...
-> Colonne 'num_veh' nettoy√©e.
-> Colonne 'place' nettoy√©e.
-> Colonne 'choc' nettoy√©e.
-> Colonne 'manv' nettoy√©e.
-> Colonne 'catv' nettoy√©e.
-> Colonne 'secu' nettoy√©e.

Cr√©ation du DataFrame 'df_vehicule' √† partir des donn√©es nettoy√©es...

Cr√©ation de la cl√© primaire composite 'id_veh'...
-> Cl√© 'id_veh' cr√©√©e avec succ√®s.

Application des contraintes (nettoyage et d√©doublonnage)...

‚úÖ DataFrame 'df_vehicule' final cr√©√© avec succ√®s !
Nombre de lignes finales (v√©hicules uniques) : 475,911

Aper√ßu du DataFrame 'df_vehicule' final avec la nouvelle cl√© 'id_veh':
             id_veh       num_acc num_veh place          choc  \
0  201600055393_A01  201600055393     A01     1         Avant
1  201600056285_A01  201600056285     A01     1  Avant gauche
2  201600056621_B01  201600056621     B01     1         Avant
3  201600057859_B02  201600057859     B02     3         Avant
4  201400013574_A01  201400013574     A01     1         Avant

                           manv                    catv                secu
0  Sans changement de direction                 VL seul              Casque
1             Tournant A gauche                 VL seul            Ceinture
2  Sans changement de direction  Motocyclette > 125 cm3              Casque
3  Sans changement de direction                 VL seul  Dispositif enfants
4  Sans changement de direction        Scooter < 50 cm3            Ceinture

In [49]:
df_vehicule.head()

,id_veh,num_acc,num_veh,place,choc,manv,catv,secu
0,201600055393_A01,201600055393,A01,1,Avant,Sans changement de direction,VL seul,Casque
1,201600056285_A01,201600056285,A01,1,Avant gauche,Tournant A gauche,VL seul,Ceinture
2,201600056621_B01,201600056621,B01,1,Avant,Sans changement de direction,Motocyclette > 125 cm3,Casque
3,201600057859_B02,201600057859,B02,3,Avant,Sans changement de direction,VL seul,Dispositif enfants
4,201400013574_A01,201400013574,A01,1,Avant,Sans changement de direction,Scooter < 50 cm3,Ceinture

In [50]:
df_vehicule.isnull().sum()

id_veh     0
num_acc    0
num_veh    0
place      0
choc       0
manv       0
catv       0
secu       0
dtype: int64

In [ ]:
df_vehicule.isna().sum()

In [18]:
# =====================================================================
# D√âFINITION DES FONCTIONS DE CR√âATION DES DATAFRAMES
# =====================================================================
import pandas as pd

def creer_df_vehicule(df_source: pd.DataFrame) -> pd.DataFrame:
    """
    Cr√©e le DataFrame des v√©hicules √† partir du DataFrame source (df_silver).
    Nettoie les colonnes, cr√©e une cl√© primaire 'id_veh', et d√©doublonne.
    """
    print("=====================================================")
    print("        Fonction : Cr√©ation de df_vehicule           ")
    print("=====================================================")
    
    # --- √âTAPE 1 : Nettoyage Profond ---
    colonnes_a_nettoyer = ['num_veh', 'place', 'choc', 'manv', 'catv', 'secu']
    print("\nNettoyage profond des colonnes...")
    for colonne in colonnes_a_nettoyer:
        df_source[colonne] = df_source[colonne].astype(str).str.split(',').str[0].str.strip()
    print("-> Colonnes nettoy√©es.")

    # --- √âTAPE 2 : S√©lection et Cr√©ation du DataFrame ---
    col_vehicule = ['num_acc', 'num_veh', 'place', 'choc', 'manv', 'catv', 'secu']
    df_vehicule = df_source[col_vehicule].copy()
    
    # --- √âTAPE 3 : Cr√©ation de la Cl√© Primaire 'id_veh' ---
    print("\nCr√©ation de la cl√© primaire 'id_veh'...")
    df_vehicule['num_acc'] = df_vehicule['num_acc'].astype(str)
    df_vehicule['num_veh'] = df_vehicule['num_veh'].astype(str)
    df_vehicule['id_veh'] = df_vehicule['num_acc'] + '_' + df_vehicule['num_veh']
    print("-> Cl√© 'id_veh' cr√©√©e.")

    # --- √âTAPE 4 : Application des Contraintes d'Unicit√© ---
    df_vehicule.dropna(subset=['num_acc', 'num_veh'], inplace=True)
    df_vehicule.drop_duplicates(subset=['id_veh'], inplace=True)
    
    # --- √âTAPE 5 : Finalisation du DataFrame ---
    colonnes_finales = ['id_veh', 'num_acc', 'num_veh', 'place', 'choc', 'manv', 'catv', 'secu']
    df_vehicule = df_vehicule[colonnes_finales]
    
    print(f"\n‚úÖ DataFrame 'df_vehicule' cr√©√© avec succ√®s ({len(df_vehicule):,} lignes).")
    return df_vehicule


def creer_df_commune(df_source: pd.DataFrame) -> pd.DataFrame:
    """
    Cr√©e le DataFrame des communes √† partir du DataFrame source (df_silver).
    S√©lectionne les colonnes pertinentes et d√©doublonne par code commune.
    """
    print("\n\n=====================================================")
    print("         Fonction : Cr√©ation de df_commune           ")
    print("=====================================================")
    
    # --- √âTAPE 1 : S√©lection des Colonnes ---

    col_commune = [
        'code_com', 'com_name', 'com_arm_name', 'epci_code', 'dep_code','nom_com', 'adr',
        'lat', 'long', 'code_postal', 'coordonnees', 'com', 'num'
    ]

    df_commune = df_source[col_commune].copy()

    # --- √âTAPE 2 : D√©doublonnage et Nettoyage ---
    # On d√©doublonne sur la colonne 'com' qui semble √™tre la cl√© la plus fiable ici
    df_commune.dropna(subset=['com'], inplace=True)
    df_commune.drop_duplicates(subset=['com'], inplace=True)
    
    # --- √âTAPE 3 : Renommage ---
    df_commune.rename(columns={'code_com': 'com_code'}, inplace=True)

    print(f"\n‚úÖ DataFrame 'df_commune' cr√©√© avec succ√®s ({len(df_commune):,} lignes).")
    return df_commune


# =====================================================================
# ORCHESTRATION : APPEL DES FONCTIONS
# =====================================================================

# Pr√©requis : Le DataFrame 'df_silver' doit exister.
if 'df_silver' in locals() and df_silver is not None:
    # On appelle la premi√®re fonction pour cr√©er df_vehicule
    df_vehicule = creer_df_vehicule(df_silver)
    
    # On appelle la seconde fonction pour cr√©er df_commune
    df_commune = creer_df_commune(df_silver)
    
    # --- Validation Finale ---
    print("\n\n--- VALIDATION FINALE ---")
    print("Aper√ßu de df_vehicule :")
    print(df_vehicule.head())
    
    print("\nAper√ßu de df_commune :")
    print(df_commune.head())
    
else:
    print("‚ùå Erreur : Le DataFrame 'df_silver' n'a pas √©t√© trouv√©. Veuillez ex√©cuter les cellules pr√©c√©dentes.")

=====================================================
        Fonction : Cr√©ation de df_vehicule
=====================================================

Nettoyage profond des colonnes...
-> Colonnes nettoy√©es.

Cr√©ation de la cl√© primaire 'id_veh'...
-> Cl√© 'id_veh' cr√©√©e.

‚úÖ DataFrame 'df_vehicule' cr√©√© avec succ√®s (475,911 lignes).


=====================================================
         Fonction : Cr√©ation de df_commune
=====================================================

‚úÖ DataFrame 'df_commune' cr√©√© avec succ√®s (12,335 lignes).


--- VALIDATION FINALE ---
Aper√ßu de df_vehicule :
             id_veh       num_acc num_veh place          choc  \
0  201600055393_A01  201600055393     A01     1         Avant
1  201600056285_A01  201600056285     A01     1  Avant gauche
2  201600056621_B01  201600056621     B01     1         Avant
3  201600057859_B02  201600057859     B02     3         Avant
4  201400013574_A01  201400013574     A01     1         Avant

                           manv                    catv                secu
0  Sans changement de direction                 VL seul              Casque
1             Tournant A gauche                 VL seul            Ceinture
2  Sans changement de direction  Motocyclette > 125 cm3              Casque
3  Sans changement de direction                 VL seul  Dispositif enfants
4  Sans changement de direction        Scooter < 50 cm3            Ceinture

Aper√ßu de df_commune :
  com_code                 com_name              com_arm_name  epci_code  \
0    75117                    Paris  Paris 17e Arrondissement  200054781
1    75119                    Paris  Paris 19e Arrondissement  200054781
2    75120                    Paris  Paris 20e Arrondissement  200054781
3    97406  La Plaine-des-Palmistes   La Plaine-des-Palmistes  249740093
4    13005                  Aubagne                   Aubagne  241300268

  dep_code                   nom_com                       adr           lat  \
0       75  Paris-17e-arrondissement  2, AVENUE DE LA GRANDE A  4.887440e+06
1       75  Paris-19e-arrondissement  30-32, AVENUE MATHURIN M  4.887840e+06
2       75  Paris-20e-arrondissement            55, RUE ORFILA  4.886710e+06
3      974   La Plaine-des-palmistes                      None -2.115291e+01
4       13                   Aubagne  FENESTRELLES (CHEMIN DE)  4.327987e+06

            long code_postal            coordonnees  com   num
0  229293.000000       75017    48.887702, 2.304844  117     2
1  237423.000000       75019     48.87834, 2.374525  119    30
2  239801.000000       75020    48.867131, 2.397971  120    55
3      55.642371       97431  -21.152906, 55.642371  406  None
4  556520.000000       13400     43.27476, 5.565483  005  None

In [19]:
df_vehicule.head()

,id_veh,num_acc,num_veh,place,choc,manv,catv,secu
0,201600055393_A01,201600055393,A01,1,Avant,Sans changement de direction,VL seul,Casque
1,201600056285_A01,201600056285,A01,1,Avant gauche,Tournant A gauche,VL seul,Ceinture
2,201600056621_B01,201600056621,B01,1,Avant,Sans changement de direction,Motocyclette > 125 cm3,Casque
3,201600057859_B02,201600057859,B02,3,Avant,Sans changement de direction,VL seul,Dispositif enfants
4,201400013574_A01,201400013574,A01,1,Avant,Sans changement de direction,Scooter < 50 cm3,Ceinture

In [20]:
df_commune.head()

,com_code,com_name,com_arm_name,epci_code,dep_code,nom_com,adr,lat,long,code_postal,coordonnees,com,num
0,75117,Paris,Paris 17e Arrondissement,200054781,75,Paris-17e-arrondissement,"2, AVENUE DE LA GRANDE A",4.887440e+06,229293.000000,75017,"48.887702, 2.304844",117,2
1,75119,Paris,Paris 19e Arrondissement,200054781,75,Paris-19e-arrondissement,"30-32, AVENUE MATHURIN M",4.887840e+06,237423.000000,75019,"48.87834, 2.374525",119,30
2,75120,Paris,Paris 20e Arrondissement,200054781,75,Paris-20e-arrondissement,"55, RUE ORFILA",4.886710e+06,239801.000000,75020,"48.867131, 2.397971",120,55
3,97406,La Plaine-des-Palmistes,La Plaine-des-Palmistes,249740093,974,La Plaine-des-palmistes,None,-2.115291e+01,55.642371,97431,"-21.152906, 55.642371",406,None
4,13005,Aubagne,Aubagne,241300268,13,Aubagne,FENESTRELLES (CHEMIN DE),4.327987e+06,556520.000000,13400,"43.27476, 5.565483",005,None

In [16]:
from sqlalchemy import text
from sqlalchemy.engine import Engine
import pandas as pd
import io

def insert_data_to_db(df: pd.DataFrame, table_name: str, engine: Engine, schema: str):
    """
    Ins√®re un DataFrame dans une table PostgreSQL en utilisant la m√©thode rapide COPY.
    La fonction vide d'abord la table de destination.

    Args:
        df (pd.DataFrame): Donn√©es structur√©es √† ins√©rer.
        table_name (str): Nom de la table cible.
        engine (Engine): Moteur SQLAlchemy connect√© √† la base PostgreSQL.
        schema (str): Nom du sch√©ma cible.
    """
    if df is None or df.empty:
        print(f"‚ö†Ô∏è Le DataFrame pour '{schema}.{table_name}' est vide. Insertion annul√©e.")
        return

    print(f"\nüöö Insertion rapide via COPY dans '{schema}.{table_name}'...")
    
    try:
        # --- 1. Vider la table de destination ---
        with engine.begin() as conn:
            truncate_command = text(f'TRUNCATE TABLE "{schema}"."{table_name}" RESTART IDENTITY CASCADE;')
            conn.execute(truncate_command)
            
        # --- 2. Pr√©parer le buffer CSV en m√©moire ---
        buffer_memoire = io.StringIO()
        df.to_csv(buffer_memoire, index=False, header=False, sep=';', na_rep='\\N')
        buffer_memoire.seek(0)
        
        # --- 3. Ex√©cuter la commande COPY ---
        raw_conn = engine.raw_connection()
        cursor = raw_conn.cursor()
        
        sql_copy_command = f"""COPY "{schema}"."{table_name}" FROM STDIN WITH (FORMAT CSV, DELIMITER ';', NULL '\\N')"""
        
        cursor.copy_expert(sql=sql_copy_command, file=buffer_memoire)
        raw_conn.commit()
        
        print(f"-> ‚úÖ {len(df):,} lignes ins√©r√©es avec succ√®s dans '{schema}.{table_name}'.")

    except Exception as e:
        print(f"‚ùå Erreur lors de l'insertion dans la table '{schema}.{table_name}': {e}")
        if 'raw_conn' in locals():
            raw_conn.rollback()
        raise
    finally:
        if 'cursor' in locals():
            cursor.close()
        if 'raw_conn' in locals() and not raw_conn.closed:
            raw_conn.close()

D√®s qu'on a le dataframe pr√™t √† √™tre ins√©rer dans la table on peut utiliser insert_data_to_db :

In [23]:
insert_data_to_db(df_commune, table_name='commune', engine=engine, schema='silver') # Par exemple pour ins√©rer dans la table 'accidents' du sch√©ma 'silver'

üöö Insertion rapide via COPY dans 'silver.commune'...
‚ùå Erreur lors de l'insertion dans la table 'silver.commune': null value in column "com_code" of relation "commune" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, RT40, null, null, null, null, 2A085, 40).
CONTEXT:  COPY commune, line 355: "\N;\N;\N;\N;\N;\N;RT40;\N;\N;\N;\N;2A085;40"

NotNullViolation: null value in column "com_code" of relation "commune" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, null, null, null, RT40, null, null, null, null, 2A085, 40).
CONTEXT:  COPY commune, line 355: "\N;\N;\N;\N;\N;\N;RT40;\N;\N;\N;\N;2A085;40"

In [8]:
print(df_commune.columns.tolist())

['com', 'com_code', 'nom_com', 'com_name', 'com_arm_name', 'adr', 'lat', 'long', 'code_postal', 'coordonnees', 'num']

In [7]:
insert_data_to_db(df_vehicule, table_name='vehicule', engine=engine, schema='silver') # Par exemple pour ins√©rer dans la table 'accidents' du sch√©ma 'silver'

üöö Insertion rapide via COPY dans 'silver.vehicule'...
‚ùå Erreur lors de l'insertion dans la table 'silver.vehicule': insert or update on table "vehicule" violates foreign key constraint "fk_vehicule_accident"
DETAIL:  Key (num_acc)=(201600055393) is not present in table "accident".

ForeignKeyViolation: insert or update on table "vehicule" violates foreign key constraint "fk_vehicule_accident"
DETAIL:  Key (num_acc)=(201600055393) is not present in table "accident".

In [8]:
# =====================================================================
# FONCTION DE CHARGEMENT UNIVERSELLE (CORRIG√âE)
# =====================================================================
from sqlalchemy.engine import Engine
from sqlalchemy import text  # <--- ASSUREZ-VOUS QUE CET IMPORT EST PR√âSENT
import pandas as pd
import io

def charger_table_silver(df_a_charger: pd.DataFrame, nom_table: str, engine: Engine):
    """
    Charge un DataFrame dans une table sp√©cifi√©e du sch√©ma 'silver'.
    La fonction vide d'abord la table de destination.
    """
    if df_a_charger is None or df_a_charger.empty:
        print(f"‚ö†Ô∏è Le DataFrame pour la table '{nom_table}' est vide. Le chargement est annul√©.")
        return

    print(f"\nüöö Chargement de 'silver.{nom_table}'...")
    
    try:
        # --- 1. Vider la table de destination ---
        with engine.begin() as conn:
            # LA CORRECTION EST ICI : on enveloppe la commande dans text()
            truncate_command = text(f'TRUNCATE TABLE silver."{nom_table}" RESTART IDENTITY CASCADE;')
            conn.execute(truncate_command)
            
        # --- 2. Charger les donn√©es ---
        # On utilise to_sql, qui est simple et suffisant pour les tables de dimensions
        df_a_charger.to_sql(
            nom_table, 
            engine, 
            schema='silver', 
            if_exists='append', 
            index=False, 
            method='multi'
        )
        
        print(f"-> ‚úÖ Table 'silver.{nom_table}' charg√©e avec succ√®s ({len(df_a_charger):,} lignes).")

    except Exception as e:
        print(f"‚ùå Erreur lors du chargement de la table '{nom_table}': {e}")
        raise

In [63]:
from sqlalchemy.engine import Engine

# --- Fonction de chargement (corrig√©e) ---
def charger_table_silver(df_a_charger: pd.DataFrame, nom_table: str, engine: Engine):
    """Charge un DataFrame dans une table sp√©cifi√©e du sch√©ma 'silver'."""
    print(f"\nüöö Chargement de 'silver.{nom_table}'...")
    try:
        with engine.begin() as conn:
            # On vide la table avant de la remplir
            truncate_command = text(f'TRUNCATE TABLE silver."{nom_table}" RESTART IDENTITY CASCADE;')
            conn.execute(truncate_command)
        
        # On utilise to_sql pour charger les donn√©es
        df_a_charger.to_sql(nom_table, engine, schema='silver', if_exists='append', index=False, method='multi')
        print(f"-> ‚úÖ Table 'silver.{nom_table}' charg√©e avec {len(df_a_charger):,} lignes.")
    except Exception as e:
        print(f"‚ùå Erreur lors du chargement de la table '{nom_table}': {e}")
        raise

In [ ]:
charger_table_silver(df_vehicule, 'vehicule', engine)

üöö Chargement de 'silver.vehicule'...

In [ ]:
charger_table_silver(df_commune, 'commune', engine)